<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <form class="form">
		<div ng-repeat="field in modal.fields" class="form-group">
	  	<label for="{{field}}">{{field}}</label>
	    <input type="text" class="form-control" id="{{field}}" placeholder="Enter {{field}}..." ng-model="form[field]">
	  </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>