<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
	<h1>Dashboard</h1>
	
	<div ng-app="sigApp">
    <div id="map"></div>
	
		<div class="clients row">
			<div id="actual" class="col-md-6"> 
				<div class="list-group">
				  <a class="list-group-item active">Clients</a>
				  <a ng-repeat-start="marker in blueMarkers | orderBy : 'title'" href="#" class="list-group-item" ng-click="openInfoWindow($event, marker)">
				  	{{marker.title}} 
					  <span class="pull-right" ng-if="isMarkerSelected(marker)">
				      <button class="btn btn-xs btn-success disabled">Selected</button>
				    </span>
			    </a>
				  <a ng-repeat-end=""></a>
				  <a href="/dashboard" class="list-group-item list-group-item-info" ng-click="addClient('modal-info', 'Client', 'Address', 'Description', 'Article')">Add...</a>
				</div>
			</div>
			
			<div id="potential" class="col-md-6"> 
				<div class="list-group">
				  <a class="list-group-item active list-group-item-danger">Potential Clients</a>
				  <a ng-repeat-start="marker in redMarkers | orderBy : 'title'" href="#" class="list-group-item" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
				  <a ng-repeat-end=""></a>
				  <a href="/dashboard" class="list-group-item list-group-item-info" ng-click="addNewClient('modal-danger', 'New Client', 'Address', 'Description', 'Agent')">Add...</a>
				</div>
			</div>
		</div>

	</div>
	<div id="chart">

	</div>
	<div id="route">

	</div>

</div>
