<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
	<h1>Statistics</h1>

	<div ng-app="sigApp">
		<div> 
			<div class="list-group">
			  <a class="list-group-item active" tooltip="Select the route for which to generate statistics.">
			  Routes
			  <span class="pull-right glyphicon glyphicon-info-sign"></span>
			  </a>
			  <a ng-repeat-start="route in routes" href="/statistics" class="list-group-item" ng-click="generateStats($event, route)">
			  	{{route.date}} 
		    </a>
			  <a ng-repeat-end=""></a>
			</div>
		</div>

		<div id="chart">

		</div>

		<div ng-if="stat">
			<p>Steps: {{stat.steps}}</p>
			<p>Mission Time: {{stat.time}}</p>
		</div>
	</div>

</div>
